.container {
  width: 710px;
}
body {
  background: #fff;
}
header {
  padding-top: 20px;
}
header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #ffddcc;
}

section h1 {
  font-size: 200%;
}

/* Links */
a {
  color: #CC2233;
  text-decoration: none;
}
a:hover {
  color: #069;
  text-decoration: underline;
}
a:visited {
  color: #069;
}


/* Navigation */

nav {
  float: right;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}
nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color: #fff;
}
nav ul li a:visited {
  color: #09c;
}
nav ul li a:hover {
  text-decoration: underline;
}


/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 200px;
  color: #fff;
  background: #069;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}


/* footer */

footer {
  text-align: right;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

