<!DOCTYPE html>
<html>
  <body>
    <title><%= @title %></title>
    <p>
    <h1><%= @title %></h1>
    Évènements sur les différents équipements
    <%= link_to "Sign up now!", signup_path , :class => "signup_button round" %>
    </p>
  </body>
</html>
