<!DOCTYPE html>
<html>
  <body>
    <title><%= @title %></title>
    <p>
      <h1><%= @title %></h1>
      Evenements sur les differents equipements 
      <%= link_to "Sign up now!", signup_path , :class => "signup_button round" %>
    </p>

  </body>
</html>





