<tr>
  <td class="system">
    <span class="content"><%= system.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(system.created_at) %> ago.
    </span>
  </td>
</tr>

